.layoutContainer {
  font-family: "Fraunces", serif;
  color: #665663;
  // height: 5.5rem;
  // background-color: #fbd6fb;
  // width: 100vw;// 100% view width

  // .buttons {
  //   justify-content: center;
  //   align-items: center;    
  //   padding-top: 2rem;
  //   display: flex;
  //   flex-direction: row;
  // }

  // .redirect {
  //   color: #665663;
  //   padding-right: 2rem;
  // }
  // .redirect:hover {
  //   color: #71b298;
  // }

  
}
.lineBreak {
  background-color: #988295;
  height: .25rem;
  width: 100vw;// 100% view width
}