.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  //   background-color: antiquewhite;
  background-color: #f1f1f1;
}
.nav__menuBar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menuBar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.nav__menuList {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 104px;
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  right: -288px;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
  transition: all 0.3s;
}
.nav__menuList.active {
  right: 0px;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.3s;
}
.nav__link.active{
    font-weight: bold;
}
.nav__link:hover {
  font-weight: bold;
}
// .center{
//     //this centers content on the page, possibly not needed
//     min-height: 600px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }

@media screen and (min-width: 768px) {
    .nav__menuBar{
        display: none;
    }
  .nav__menuList {
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
  }

  .nav__link:hover::before, .nav__link.active::before {
    width: 100%;
  }
  .nav__link.active{

  }
}
